<?xml version="1.0" ?>
<config>
    <global>
    </global>

    <frontend>
        <routers>
            <src>
                <use>standard</use>
                <args>
                    <module>TodoApp_Src</module>
                    <frontName>todoapp</frontName>
                </args>
            </src>
        </routers>
        <layout>
            <updates>
            <src>
                <file>todoapp.xml</file>
            </src>
            </updates>
        </layout>
    </frontend>
</config>